extends ../layout/index.pug

block content
    main.container.mt-5
        .row    
            .col-md-12
                h1.text-center=pageTitle
                if(testimonials)
                blockquote.text-center Read Experiences from our clients
                .row.testimonials
                        each testimonial in testimonials
                            .col-md-4.col-lg-4.mb-4
                                .card
                                    .card-body
                                        blockquote.blockquote
                                        p.mb-0
                                            | #{testimonial.testimony}
                                        footer.blockquote-footer
                                            | #{testimonial.name}
            .col-md-12
                h1.text-center Add Testimonials
                if(errors)
                    each error in errors
                        .alert.alert-danger.text-center=error.message
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimonials" method="POST")
                            .form-group.text-center
                                label(for="name") Name
                                input(id="name" type="text" class="form-control" name="name" placeholder="Your Name" value=name)
                            .form-group.text-center
                                label(for="email") Email
                                input(id="email" type="email" class="form-control" name="email" placeholder="Your Name" value=email)
                            .form-group.text-center
                                label(for="testimony") Testimonial
                                textarea(id="testimony" name="testimony" cols="30" class="form-control" rows="5" placeholder="Message")=testimony
                            input.btn.btn-success.btn-block(type="submit" value="Add Testimonial")